@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-blue{
    background-color: #003366;
}
.bg-button{
    background-color: white;
    color: #003366;
    padding: 5px 10px;
    border-radius: 5px;
}
.image{
    width: 400px;
}

.jumbo{
    width: 1200px;
}

.dettaglio-immagine {
    width: 80%;
}

.jumbo-img {
    width: 50%
}



.bg-lightcyano{
    background-color: #285a8c;
}
.bg-header{
    background-color: #86b7e9;
}

.bg-doctorblu{
    background-image: linear-gradient(to top, #003366, #285a8c );
    background-position: center;
    background-repeat: no-repeat;

}

.text-mygreen{
    color: #66cc99;
}

.text-myblu{
    color: #285a8c;
    font-weight: bold;
}

.services{
    width: 400px;
}

a{
    text-decoration: none;
}

.ombra:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}


/* CSS per gli errori */
#error-container {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}




.accordion-button:focus {
    outline: none;
    box-shadow: none;
}


.raised-effect {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transform: perspective(1000px);
    background-color: white;
}
.raisedd-effect {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transform: perspective(1000px);
    
}

.form-check-input:checked + .message-text {
    text-decoration: double ;
}



.date{
    font-size: 10px;
    color: grey;
}

.submit-button{
    background-color: #339966;
    color: white;
    border: 0px;
    border-radius: 5px;
}



.navbar-aestethic{
    background-color: #285a8c;
    border: 0px;
    font-size: 30px;
}

.vertical{
    align-items: center;
}

@media only screen and (max-width: 991px) {
    .font-dashboard {
      font-size: 30px; /* Dimensione del font per schermi piccoli */
    }
  }

  .padding-text{
    padding-top: 16px;
}
@media only screen and (max-width: 764px) {
    .padding-text{
        padding-top: 5px; /* Dimensione del font per schermi piccoli */
    
    }
    
}
.over {
    overflow: hidden; /* Nasconde il testo in eccesso */
    text-overflow: ellipsis; /* Aggiunge "..." alla fine del testo troncato */
    white-space: nowrap; /* Evita che il testo vada a capo */
}


.bg-button{
    background-color: #285a8c;
    color: white;
    &:hover{
        background-color: white;
        color: #285a8c;
        border: 1px solid #285a8c ;
    }
}
.btn-padding{
    padding: 4px 8px;
}

.border-card{
    border: 2px solid #285a8c;
}
.btn-blue{
    background-color: #285a8c;
    color: white;
    border: 2px solid white;
}
.btn-blue:hover{
    background-color: white;
    color: #285a8c;
    border: 2px solid #285a8c;
}

.text-blue{
    color: #285a8c;
}

.select{
    background-color: #285a8c;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 5px 8px;
}

.raised-effect {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transform: perspective(1000px);
    background-color: white;
}