@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.image{
    width: 400px;
}

.jumbo{
    width: 1200px;
}

.dettaglio-immagine {
    width: 80%;
}

.jumbo-img {
    width: 50%
}

body{
    background-color: lightgray;
}

.bg-lightcyano{
    background-color: #285a8c;
}
.bg-header{
    background-color: #86b7e9;
}

.bg-doctorblu{
    background-color: #003366;

}

.text-mygreen{
    color: #339966;
}

.text-myblu{
    color: #285a8c;
    font-weight: bold;
}

.services{
    width: 400px;
}

a{
    text-decoration: none;
}

.ombra:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}


/* CSS per gli errori */
#error-container {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}



.accordion-button:focus {
    outline: none;
    box-shadow: none;
}


.raised-effect {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transform: perspective(1000px);
    background-color: white;
}
.raisedd-effect {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transform: perspective(1000px);
    
}

.form-check-input:checked + .message-text {
    text-decoration: double ;
}

.button {
    cursor: pointer;
    font-weight: 500;
    left: 3px;
    line-height: inherit;
    position: relative;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
}

.button--small {
    padding: 10px 20px;
    font-size: 0.875rem;
}

.button--green {
    outline: none;
    background-color: #64d18a;
    border-color: #64d18a;
    color: white;
    transition: all 200ms ease;
}

.button--green:hover {
    background-color: #8bdda8;
    color: white;
}