@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.card-sponsor{
    background-color: rgb(220, 220, 220) !important;
}
.bg-blue{
    background-color: #003366;
}
.bg-button{
    background-color: white;
    color: #003366;
    padding: 5px 10px;
    border-radius: 5px;
}
.image{
    width: 400px;
}

.jumbo{
    width: 1200px;
}



.jumbo-img {
    width: 50%
}

#myPieChart{
    width: 30rem !important;
    height: 30rem !important;
     
}
@media only screen and (max-width: 766px) {
    #myPieChart{
        width: 25rem !important;
        height: 25rem !important;
    }
    .padding-text{
        padding-top: 5px; 
    
    }
    .bg-linear-gradient-2 {
        background-image: linear-gradient(#66cc99, #285a8c);
    }
    .text-responsive-color{
        color: white !important;
    }
} 


.bg-lightcyano{
    background-image: linear-gradient(to top, #66cc99, #285a8c,);
}
.bg-header{
    background-color: #86b7e9;
}
.bg-blu{
    background-image: linear-gradient(to top, #003366, #285a8c );
    background-position: center;
    background-repeat: no-repeat;
}

.bg-doctorblu{
    background-image: linear-gradient( #66cc99, #285a8c );
    background-position: center;
    background-repeat: no-repeat;
}
.border-right{
    border-right: 2px solid white;
}
.bg-message{
    background-image: linear-gradient( #66cc99, #285a8c );
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}

.text-mygreen{
    color: #66cc99;
}

.text-myblu{
    color: #285a8c;
    font-weight: bold;
}

.services{
    width: 400px;
}

a{
    text-decoration: none;
}

.ombra:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}


/* CSS per gli errori */
#error-container {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}




.accordion-button:focus {
    outline: none;
    box-shadow: none;
}


.raised-effect {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transform: perspective(1000px);
    background-color: white;
}
.raisedd-effect {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transform: perspective(1000px);
    
}

.form-check-input:checked + .message-text {
    text-decoration: double ;
}



.date{
    font-size: 10px;
    color: grey;
}

.submit-button{
    background-color: #339966;
    color: white;
    border: 0px;
    border-radius: 5px;
}



.navbar-aestethic{
    background-color: #285a8c;
    border: 0px;
    font-size: 30px;
}

.vertical{
    align-items: center;
}

@media only screen and (max-width: 991px) {
    .font-dashboard {
      font-size: 30px; /* Dimensione del font per schermi piccoli */
    }
  }

  .padding-text{
    padding-top: 16px;
}

.over {
    overflow: hidden; /* Nasconde il testo in eccesso */
    text-overflow: ellipsis; /* Aggiunge "..." alla fine del testo troncato */
    white-space: nowrap; /* Evita che il testo vada a capo */
}


.bg-button{
    background-color: #285a8c;
    color: white;
    &:hover{
        background-color: white;
        color: #285a8c;
        border: 1px solid #285a8c ;
    }
}
.btn-padding{
    padding: 4px 8px;
}

.border-card{
    border: 2px solid #285a8c;
}
.btn-blue{
    background-color: #285a8c;
    color: white;
    border: 2px solid white;
}
.btn-blue:hover{
    background-color: white;
    color: #285a8c;
    border: 2px solid #285a8c;
}

.text-blue{
    color: #285a8c;
}

.select{
    background-color: #285a8c;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 5px 8px;
}

.raised-effect {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transform: perspective(1000px);
    background-color: white;
}

.content{
    position: relative;
  }
  
  .content .card-sponsor{
    position: relative;
    width: 320px;
    height: 490px;
    border-radius: 20px;
    overflow: hidden;
  }
  


  .content .card-sponsor:after{
    
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255,255,25,0.05)
  }
  
  .content .card-sponsor .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 280px;
    transition: 0.5s;
  }
  
  .content .card-sponsor:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
      
  }
  .content .card-sponsor .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
  }
  
  .content .card-sponsor .card-body{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
  }
  
  .content .card-sponsor:hover .card-body{
    height: 210px;
  }
  
  .content .card-sponsor .card-body h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
  }
  
  .content .card-sponsor .card-body .duration, .content .card-sponsor .card-body .price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .content .card-sponsor:hover .card-body .duration{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
  }
  .content .card-sponsor .misure-img {
    transition: width 1s;
  }
  
  .content .card-sponsor:hover .misure-img {
    width: 270px;
  }
  
  
  
  .content .card-sponsor:hover .card-body .price{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
  }
  
  .content .card-sponsor .card-body .duration span, .content .card-sponsor .card-body .price span{
    margin: 8px 0px;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  
  .content .card-sponsor .card-body a{
    font-weight: 300;  
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
  }
  
  .content .card-sponsor:hover .card-body a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
    
  }

.bg-linear-gradient{
    background-image: linear-gradient( #66cc99, #285a8c );
}

.text-25{
    font-size: 25px;
}

.btn-back{
    background-color: #285a8c;
    &:hover{
        background-color: #194067;
    }
    
}
.image-container {
    width: 300px; 
    height: 300px; 
    overflow: hidden; 
    border-radius: 50%; 
    border: 5px solid rgb(40, 90, 140);
}

.image-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: top; 
}


.altezza-sponsor{
    min-height: 1000px;
}

// .misure-img{
//     width: 500px !important;
// }

